@font-face {
    font-family: dmsansbold;
    src: url(../font/DMSans-Bold.ttf);
}
*{
    margin: 0;
}
.en-linea{
    display: inline;
}
.bloque{
    display: block;
}
.position{
    position: relative;
}
p{
    font-size: $font1;
}
td{
    text-align: center;
    background-color: cadetblue;
 }
 main{
    padding-top: 90px;
}
.parallax{ 
    background-image:url(../assets/fondo_main.webp);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 30px;
}