.pie{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    background-image: url(../assets/fondo_footer.webp);
    background-size: cover;
    padding: 10px 30px 10px 30px;
    height: auto;
    & a{
        color: deepskyblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 100%;
        text-decoration: none;
        padding-left: 20px;
        &:hover{
            color: rgb(246, 177, 93);
        }
    }
    &__insti{
        display: grid;
        grid-template-columns: auto;
        &-uno h4{
            font-size: 75%;
            color: $colorlight;
            &:hover{
                color: rgb(246, 177, 93);
            }
        }
    }
}
.cabecera__logo{
    position: absolute;
    padding: 20px;
    left: 10%;
}