@font-face {
    font-family: dmsansbold;
    src: url(./font/DMSans-Bold.ttf);
}

*{
    margin: 0;
}

.en-linea{
    display: inline;
}

.bloque{
    display: block;
}

.position{
    position: relative;
}

p{
    font-size: 18px;
}

li a:link{
    text-decoration: none;
    display: block;
    background-color: #3f1e68;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

/* hace que cambie el color cuando se pasa el mouse por arriba de navbar */
li a:hover{
    background-color: #434343;
}

td{
   text-align: center;
   background-color: cadetblue;
}

.portada{
    background-image: url(./assets/header_index.webp);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    font-family: dmsansbold;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 0 15px black;
}
.portada h1:hover {
    color: dodgerblue;

}

.portada h1:hover::after{
    content: url(./assets/feliz.png);
    
}


.cabecera{
    width: 100%;
    background-image:url(./assets/descargar.webp);
    background-size: contain;
    position: fixed;
    text-align: center;
    padding-top: 2px;
    z-index: 1;
}

.cabecera IMG{
    border-radius: 10px;
}

/* inicio posicionamiento del navbar */
.cabecera__lista{
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 30px;
}

.cabecera__lista li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.cabecera__lista li:hover > ul{
    display: block;
}

.cabecera__lista > li{
    float: left;
}

/* fin posicionamiento navbar */

.cabecera__lista__elemento a{
    color: #ffffff;
    font-weight: bold;
}

.cabecera__titulo{
    font-size: 250%;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
    text-shadow: 0 0 15px black;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr 100px repeat(2, 0.5fr);
    gap: 1rem;
    grid-template-areas: 
             "portada portada portada"
             "nota nota nota"
             "presta__titulo presta__titulo presta__titulo"          
             "acceso1 acceso2 acceso3"          
             "tabla tabla tabla"          
        ;
}
.portada{
    grid-area: portada;
}
.nota{
    grid-area: nota;
}
.presta__titulo{
    grid-area: presta__titulo;
    
}
.acceso1{
    grid-area: acceso1;
    transition: 0.3s;
}
.acceso2{
    grid-area: acceso2;
    transition: 0.3s;
}
.acceso3{
    grid-area: acceso3;
    transition: 0.3s;
}

.acceso1:hover, .acceso2:hover, .acceso3:hover{
    transform: scale(1.05, 1.05);     
}

.tabla{
    grid-area: tabla;
}



main{
    padding-top: 90px;
}
.parallax{ background-image:url(./assets/fondo_main.webp);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 30px;
}

.nota{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    margin: 50px 0 auto; 

}

.nota img{
    margin-top: 1.5rem;
    border-radius: 10px;
}

.nota__1{
    width: 50%;
    padding: 0px 50px;
    right: 0;
    top: 0;
    text-align: justify;
    
}

.acceso1, .acceso2, .acceso3 {
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;  
    margin-bottom: 50px;  
}

.acceso1 a, .acceso2 a, .acceso3 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold ;
    
}

.acceso1 a div, .acceso2 a div, .acceso3 a div{
    background-color: aliceblue;    
    
}

.presta__titulo{
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 2.5rem;
    text-shadow: 0 0 15px #000000;
    color: #ff0000;
    text-align: center;
    padding: 20px ;
}


.tabla{
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.tabla__titulo{
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-shadow: 0 0 15px black;
    color: red;
   padding: 15px;
}

.tabla__tabla{
    margin: 0 150px;
    padding: 50px 80px;    
}

.pie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background-image: url(./assets/fondo_footer.webp);
    background-size: cover;
    padding: 10px 10px 0px 30px;
    height: auto;
}

.pie a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    text-decoration: none;
    margin: auto;
}

.pie a:hover{
    color: rgb(246, 177, 93);
}

.cabecera__logo{
    position: absolute;
    padding: 20px;
    left: 10%;
}

/* css page prestaciones */
.disca{
    text-align: center;
    padding-bottom: 50px;
}

.disca__parrafo{
    padding: 10px 80px;
    text-align: justify;
    font-size: x-large;
}

.disca__video{
  margin-top: 30px;    
  border-radius: 10px;
  transition: 0.3s;
}
.disca__video:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 15px #000000;
}

.prote{
    text-align: center;
    padding-bottom: 50px;
}

.prote__title{
    padding: 10px 150px;
    text-align: justify;
}

.prote__text{
    padding: 10px 80px 10px 380px;
    text-align: justify;
    text-shadow: 0 0 15px black;
    font-size: 1.5rem;
}

.pmo p{
    font-size: 1.3rem;
}

  /* css page institucional */
.insti{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.insti img{
    border-radius: 15px;
    box-shadow: 0 80px 50px -20px rgba(255,255,255,0.5);
}


.insti_titulo{
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2f4f4f;
}

.insti__ap__enlace{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    transition: 0.3s;
}

.insti__ap__enlace:hover, .insti__qs__enlace:hover{

    animation: mover 5s infinite;

}
@keyframes mover {
    0%{
        transform: rotate(2deg);
        font-size: larger;
        text-shadow: 0 0 15px black;
    }
    50%{
        transform: rotate(-5deg);
        text-shadow: 0 0 15px black;
    }
    100%{
        transform: rotate(5deg);
        font-size: larger;
        text-shadow: 0 0 15px black;
    }
    
}

.insti__qs__enlace{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* css page autoridades */
.l_autoridades{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.l_autoridades div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 30px;
    transition: 0.2s;
}
.l_autoridades div:hover{
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.3);
    font-weight: bold;
    color: darkblue;
}

.l_autoridades__titulo{
    font-size: 25px ;
    padding-bottom: 30px;
    margin: auto 0;
    width: 152.31px;
}

.l_autoridades__descrtpcion{
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 15px;
    font-style: italic;
    text-align: justify;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2% 0;
}

.l_autoridades__descrtpcion dt{
    margin: 1% 2%;
}

.l_autoridades__descrtpcion dd{
    margin: 1% 5%;
}

.l_autoridades__img{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 25px 80px -10px rgba(102, 13, 110, 0.5);
    
}

/* css page quienes somos */
.about__datos{
    margin: 20px 50px;
    line-height: 1.5;
}
.about__datos p{
    font-size: 1.3rem;
}

.about__datos h3{
    font-family: fantasy;
    font-weight: lighter;
    margin-top: 20px;
}
.about__datos ul{
    list-style-type: none ;
    font-weight: bold;
}
.about__datos ol li{
    font-weight: lighter;
}

/* inicia css contacto page */
.main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main img{
  border-bottom-right-radius: 15px;
  margin-bottom: 30px;
  display: block; 
    max-width: 80%; 
    width: 50%;
}
.main__encabeza h4{
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1% 3%;
    text-align: justify;
}

.main section{
    margin-bottom: 50px;
}
.main__form{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.main__form img{
    width: 50px;
    position: absolute;
    animation: senalar 10s infinite;
}

@keyframes senalar {
    0%{
        transform: translate(-65px, 0px);
    }
    50%{
        transform: translate(-65px, 410px);
    }
    100%{
        transform: translate(-65px, 0px);
    }
    
}

.form__grid1{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 3fr ;
   margin-bottom: 1rem;
   margin-top: 1rem;
    gap:10px;    
}
.form__grid2{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 1rem;
}


.main__form form{
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(1, 1, 24, 0.2);
    padding: 15px;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;   
}
.form__grid3{ 
    display: flex;  
    justify-content: center;  
    align-items: center;
}
.main__form fieldset{
    width: 40%;
    text-align: center;
    border-radius: 10px;    
}
.form__boton{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    transition: 0.3s;
}
.form__boton button{
    transition: 0.3s;
}
.form__boton button:hover{
    color: chartreuse;
    transform: scale(1.1, 1.1);
}

.main__form button{
    margin-bottom: 2%;
    width: 30%;
    height: 2rem;
    background-color: #3f1e68;
    color: aqua;
    font-weight: bold;
    border-radius: 10px;
}

.main__info{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.main__info iframe{
    transition: 0.3s;
}

.main__info iframe:hover{
    transform: scale(1.1, 1.1);
}

.main__info ul{
    line-height: 2;
    font-size: x-large;
    text-shadow: 0 0 15px black; 
}

@media (max-width: 1146px){
    .cabecera__princ{
        margin-right: 40%;
    }
    .contenedor{
        grid-template-rows: 0.8fr 0.5fr 100px repeat(3, 0.5fr);
        grid-template-columns: 1fr 0.5fr 1f;
        grid-template-areas: 
             "portada portada portada"
             "nota nota nota"
             "presta__titulo presta__titulo presta__titulo"          
             "acceso1 . acceso2"  
             "acceso3 acceso3 acceso3"         
             "tabla tabla tabla";
    }

    .acceso1{
        margin-left: 35%;
    }
    .acceso2{
        margin-right: 35%;
    }
    .nota{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .nota__1{
        width: auto;
        padding-top: 15px auto;
    }
    .nota img{
        width: 70%;
    }

}

@media (max-width: 1024px){
    .cabecera__logo{
        padding: 3px;
    }
    .nota{
        padding-left: 10px;
    }
    .l_autoridades__descrtpcion{
        width: 70%;
    }
    .tabla__tabla{
        margin: 0 auto;  
    }
}

@media (max-width: 850px ){

  
    .cabecera__princ{
        width: 200px;
    }
    .cabecera{
        height: 89px;
    }

    .contenedor{
        grid-template-rows: 0.8fr 0.5fr 100px repeat(4, 0.5fr);
        grid-template-columns: 1fr 0.5fr 1f;
        grid-template-areas: 
             "portada portada portada"
             "nota nota nota"
             "presta__titulo presta__titulo presta__titulo"          
             "acceso1 acceso1 acceso1"  
             "acceso2 acceso2 acceso2"  
             "acceso3 acceso3 acceso3"       
             "tabla tabla tabla";
    }
    
    .acceso1, .acceso2, .acceso3{
        margin: 0;
    }     

    .main__form img{
        display: none;
    } 
}


@media (max-width: 768px ){
    .cabecera__lista{
        display: none;
    }
  
    .contenedor{
        grid-template-rows: 0.8fr 0.5fr 50px repeat(3, 0.5fr) 0.3fr;
    }
    .form__grid1{
        grid-template-columns: 0.5fr 2fr;
    }
    .cabecera__titulo{
        font-size: 200%;
    }
    
    .main__encabeza h4{
        font-size: large;
    }
    .main__info{
        flex-direction: column;
    }

    .main__info ul{
        line-height: 2;
        font-size: large; 
        margin-bottom: 35px;       
    }
    .main__form fieldset{
        width: 70%; 
    }
    

    .pie a{
        color: white;
        font-size: 100%;
    }
    .main img{
        width: 65%;
    }
    .main__form img{
        width: 50px;
        display: block;
    }
    .prote__title{
        padding: 10px 3rem;
    }
    .prote__text{
        padding-left: 100px;
        font-size: 1.2rem;
    }

    .presta__titulo{
        font-size: 1.5rem;
        padding-top: 30px;
        max-width: auto;
    }

    .tabla{
        font-size: 1rem;
        justify-items: center;
    }
    .tabla__tabla{
        padding: 30px 30px;
        width: 80%;
    }
    .portada{
        font-size: 2rem;
    }
    .nota{
        padding-left: 20px;
        margin: 20px 0 auto;
    }
}

@media (max-width: 530px ){
    main{
        padding-top: 5rem;
    }  
    
    .pie{
        grid-template-columns: 1fr;
    }
    .l_autoridades__descrtpcion{
        width: 100%;
        margin-top: 20px;
        text-align: left;               
    }
   
    .l_autoridades__titulo{
        text-align: center;
    }
    .insti_titulo{
        font-size: x-large;
    
    }
    .insti__ap img{
        width: 80%;
    }
    .insti__qs img{
        width: 80%;
    }
    .disca__parrafo{
        padding: 10px 40px;
        font-size: large;
    }
    .disca__video{
        width: 80%;
    }
    .prote iframe{
        width: 80%;
    }
    .prote_main section img{
        height: 30%;
    }
   
    .tabla__tabla{
        padding: 8px 5px;
        width: 85%;
    }
  
    .tabla__titulo{
        font-size: 5fr;
    }
    .tabla th, td{
        font-size: 0.8rem;        
    }
    .nota{
        margin: 20px 0 auto;
    }
    .nota__1{
        padding: 15px 15px;
    }
    .main__form img{
        
        display: none;
    }
}

@media (max-width: 425px ){
    .contenedor{
        grid-template-rows: 0.5fr 0.5fr 50px repeat(3, 0.3fr) 0.3fr;
    }

    .cabecera__princ{
        width: 150px;
        margin-top: 20px;
        margin-right: 25px;
    }

    .portada{
        font-size: 1.5rem;
    }
    .cabecera__titulo{
        font-size: 150%;
    }
    .about{
        font-size: 1rem;
    }
    .about__datos{
        margin: 10px 20px;
        line-height: 1.2;
    }
    .about__datos p{
        font-size: 1rem;
    }

    .form__grid1{
        grid-template-columns: 1fr;
    }
    .form__grid2{
        grid-template-columns: 1fr;
    }
    .form__boton{
        flex-direction: column;
        justify-content: center;
    }
    .main__form button{
        width: 60%;
        margin: auto;        
    }
    .main img{
        width: 80%;
    }
    
    .l_autoridades__img{
        width: 240px;
        height: 200px;
    }
    .l_autoridades__descrtpcion dd{
        margin: 5% 5%;
    }

    .insti{
        font-size: 1.2rem;
    }
    .insti_titulo{
        font-size: large;
    }
    .disca__parrafo{
        padding: 10px 20px;
        font-size: 20px;
    }
    .disca__video{
        width: 80%;
        height: 80%;
    }
    .prote iframe{
        width: 75%;
        height: 50%;
    }
    .prote__title{
        padding: 10px 20px;
    }
    .prote__text{
        padding-left: 50px;
        font-size: 1.2rem;
        text-align: left;
    }
    .presta__titulo{
        padding-top: 15px;
    }

    .acceso1 img, .acceso2 img, .acceso3 img{
        width: 280px;
        height: 250px;
    }
    
    .nota{
        padding-left: 10px
    }

    .nota img{
        width: 90%;
    }
   
}






